body{background-color:#000000;
}
a{
    text-decoration: none;
    color: red;
}
table{
    background-color: #ffffff;
    color: #000000;
}


h1{
    text-align: center;
    color:#ffffff;

}

.container {
    background-color: #000000
    height: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 10px;
    color: #000000;
}